<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Voluptatum earum iste totam laudantium quidem? Commodi, 
            molestiae atque tenetur quo ipsa tempora
             a ut quam dolorem hic at reprehenderit 
             officia accusamus!</p>
    </div>
</div>